{% include "includes/header.html" %}


  <div class="main-panel">
        <div class="content-wrapper" >
          <div class="row" >
            <div class="col-lg-11 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Box Plot</h4>
                  <div style="float:right;font-size:15px;" class="card-title"  >



                  </div>

                  <div id="container" style="width: 50%;">
                    <div id="chartContainer" style="height: 370px; width: 200%"></div>
                  </div>

                  <h6 style="color:red">** Chart will not be disaplyed if it contains null values</h6>
                </div>
              </div>
            </div>




          </div>
        </div>
  </div>
</div>
  </div>

























<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>


        <script src="{{url_for('static',filename='vendors/js/vendor.bundle.base.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{url_for('static',filename='vendors/chart.js/Chart.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/progressbar.js/progressbar.min.js')}}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{url_for('static',filename='js/off-canvas.js')}}"></script>
  <script src="{{url_for('static',filename='js/hoverable-collapse.js')}}"></script>
  <script src="{{url_for('static',filename='js/template.js')}}"></script>
  <script src="{{url_for('static',filename='js/settings.js')}}"></script>
  <script src="{{url_for('static',filename='js/todolist.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->


  <script src="{{url_for('static',filename='js/dashboard.js')}}"></script>
  <script src="{{url_for('static',filename='js/chart.js')}}"></script>
  <script src="{{url_for('static',filename='js/Chart.roundedBarCharts.js')}}"></script>

  <!-- Line chart-->
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title:{

	},

	axisY: {
		title: "values",
		includeZero: true
	},
	data: [{
		type: "boxAndWhisker",
		upperBoxColor: "#FF5A4D",
		lowerBoxColor: "#7BCE69",
		color: "black",
		xValueFormatString: "string",
		yValueFormatString: "",
		dataPoints: [
		{% for i in range(0,len) %}
			{ label: "{{x[i]}}",  y: [{{data['min_'][i]}},{{data['q2'][i]}}, {{data['q4'][i]}}, {{data['max_'][i]}}, {{data['q3'][i]}},] },
         {% endfor %}
		]
	}]
});
chart.render();

}
</script>
</body>
</html>