{% include "includes/header.html" %}


  <div class="main-panel">
        <div class="content-wrapper" >
          <div class="row" >
            <div class="col-lg-9 grid-margin stretch-card">
              <div class="card">
                <div class="card-body" >
                  <h4 class="card-title">Scatter Plot</h4>
                  <div style="float:right;font-size:15px;" class="card-title"  >

                    <form action="{{url_for('chart')}}" method="post">
                    X:<select name="x" >
                      {% if len1!=0 %}
                      <option selected  value="{{x[-1]}}">{{x[-1]}}</option>
                      {% endif %}
                    {% for i in range(len) %}
                    {% if cols_type[i]!= 'object' and x[-1]!=cols[i] %}
                    <option value="{{cols[i]}}">{{cols[i]}}</option>
                    {% endif %}
                    {% endfor %}
                      </select>&nbsp;&nbsp;&nbsp;&nbsp;
                    Y:<select name="y" >
                      {% if len1!=0 %}
                      <option selected  value="{{y[-1]}}">{{y[-1]}}</option>
                      {% endif %}
                    {% for i in range(len) %}
                    {% if cols_type[i]!= 'object' and y[-1]!=cols[i] %}
                    <option value="{{cols[i]}}">{{cols[i]}}</option>
                    {% endif %}
                    {% endfor %}
                    </select>&nbsp;&nbsp;
                      <button type="submit" class="btn btn-outline-success btn-sm">Submit</button>

                    </form>

                  </div>
                  {% if len1 == 0 %}
                  <h4>No Column selected</h4>
                  {% else %}

                  <canvas id="scatterChart" ></canvas>

                  {% endif %}
                  <h6 style="color:red">** Chart will not be disaplyed if it contains null values</h6>
                </div>
              </div>
            </div>




          </div>
        </div>
  </div>
</div>
  </div>



























        <script src="{{url_for('static',filename='vendors/js/vendor.bundle.base.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{url_for('static',filename='vendors/chart.js/Chart.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/progressbar.js/progressbar.min.js')}}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{url_for('static',filename='js/off-canvas.js')}}"></script>
  <script src="{{url_for('static',filename='js/hoverable-collapse.js')}}"></script>
  <script src="{{url_for('static',filename='js/template.js')}}"></script>
  <script src="{{url_for('static',filename='js/settings.js')}}"></script>
  <script src="{{url_for('static',filename='js/todolist.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{url_for('static',filename='js/dashboard.js')}}"></script>
  <script src="{{url_for('static',filename='js/chart.js')}}"></script>
  <script src="{{url_for('static',filename='js/Chart.roundedBarCharts.js')}}"></script>

  <!-- Line chart-->
<script>



var scatterChartData = {
    datasets: [{
        label: '',
        data: [
        {% for i in range (0,len1) %}
        {
            x: {{x[i]}},
            y: {{y[i]}},
          },
          {% endfor %}
         ],
        backgroundColor: [
          'rgba(255, 99, 132, 0.2)'
        ],
        borderColor: [
          'rgba(255,99,132,1)'
        ],
        borderWidth: 1
      }
    ]
  }


  var scatterChartOptions = {
    scales: {
      xAxes: [{
        type: 'linear',
        position: 'bottom',
        scaleLabel: {
            display: true,
            labelString: '{{x[-1]}}'
          },
      }],
      yAxes: [{
        type: 'linear',
        position: 'bottom',
        scaleLabel: {
            display: true,
            labelString: '{{y[-1]}}'
          },
      }]
    }
  }

  if ($("#scatterChart").length) {
    var scatterChartCanvas = $("#scatterChart").get(0).getContext("2d");
    var scatterChart = new Chart(scatterChartCanvas, {
      type: 'scatter',
      data: scatterChartData,
      options: scatterChartOptions
    });
  }



</script>
</body>
</html>