{% include "includes/header.html" %}

      <!-- partial -->
     <div class="main-panel">
      <div class="content-wrapper">
      <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Web implementations [Algorithm: {{algo}}]</h4>
                  <p class="card-description">
                    <b>Note</b>
                  <p style="color:red">
                   1.Here all inputs are numbers to get clear output please correlated with description of dataset
                  <br> between your encoding (dummies)<br>
                  2.This selection will be shown when the prediction section is computed<br>
                  3.For encoded attributes plese provide the correct encoded value(integer)

                </p>
                  <hr>
                  </p>
                  <form class="forms-sample" action="{{url_for('demo')}}" method="post">
                    <input type="text" name="algo" value="{{algo}}" hidden />
                    {% for i in x_cols %}
                    <div class="form-group">

                      <h4><label>{{i}}</label></h4>
                       <input type="number" class="form-control"  name="{{i}}" required />



                    </div>
                     {% endfor %}

                    <button type="submit" class="btn btn-primary me-2">Submit</button>

                  </form><br><br>
                  Result:{{output}}
                </div>
              </div>
            </div>



        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  </div>
     </div>
  <!-- plugins:js -->

  <script src="{{url_for('static',filename='vendors/js/vendor.bundle.base.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{url_for('static',filename='vendors/chart.js/Chart.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/progressbar.js/progressbar.min.js')}}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{url_for('static',filename='js/off-canvas.js')}}"></script>
  <script src="{{url_for('static',filename='js/hoverable-collapse.js')}}"></script>
  <script src="{{url_for('static',filename='js/template.js')}}"></script>
  <script src="{{url_for('static',filename='js/settings.js')}}"></script>
  <script src="{{url_for('static',filename='js/todolist.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{url_for('static',filename='js/dashboard.js')}}"></script>
  <script src="{{url_for('static',filename='js/Chart.roundedBarCharts.js')}}"></script>
  <!-- End custom js for this page-->
  </div>

</body>

</html>

