{% include "includes/header.html" %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-sm-12">
              <div class="home-tab">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">


                </div>
                <div class="tab-content tab-content-basic">
                  <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                    <div class="row">
                      <div class="col-sm-12">

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-12 d-flex flex-column">


                        <div class="row flex-grow">

                            <div class="card card-rounded">
                              <div class="card-body">
                                <div class="d-sm-flex justify-content-between align-items-start">
                                  <div>
                                    <h4 class="card-title card-title-dash">DATA INFO</h4>
                                   <p class="card-subtitle card-subtitle-dash">{{len}} columns have found</p>
                                    <p class="card-subtitle card-subtitle-dash">Null value percentage <b style="color:red">{{nan_}}%</b></p>
                                    {% if nan_>50 %}
                                    <p class="card-subtitle card-subtitle-dash"><b style="color:red">** Contains more than 50 % null values</b></p>
                                    {%endif %}
                                    <p class="card-subtitle card-subtitle-dash">Outlier percentage <b style="color:red">{{outlier_per}} %</b></p>
                                  </div>

                                </div>
                                <div class="table-responsive  mt-1">
                                  <table class="table select-table">
                                    <thead>
                                      <tr>

                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Nan Values</th>

                                        <th>Mean</th>
                                        <th>Median</th>
                                        <th>Mode</th>
                                         <th>Row drop</th>
                                        <th>Drop outlier</th>

                                      </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in range(len) %}
                                      <tr>
                                        <td>
                                          <div class="d-flex ">

                                            <div>
                                              <h4 style="color:black;text-transform: capitalize;">{{cols[i]}}</h4>
                                              {% if cols_type[i]=='object' %}
                                              <a type="button" class="btn btn-info" href="{{url_for('drop_dummies',type='dummies',cols=cols[i])}}">Get Dummies</a>
                                              {% endif %}
                                          <br>
                                          <a type="button" class="btn btn-danger" href="{{url_for('drop_dummies',type='drop',cols=cols[i])}}">Drop</a>

                                            </div>
                                          </div>
                                        </td>
                                        <td>
                                          <h6>{{cols_type[i]}}</h6>
                                        </td>
                                        <td>
                                               <h6 style="color:red">{{nan_len[i]}}</h6>__<h6>{{row_len[i]+nan_len[i]}}</h6>
                                        </td>

                                        <td>
                                          {% if nan_len[i]==0 %}
                                           <h6>-</h6>
                                          {% else %}
                                          {% if cols_type[i] == "object" %}
                                          <h6><a type="button" class="btn btn-warning" href="{{url_for('replace_nan',type='max',cols=cols[i])}}">Replace</a></h6>

                                          <p>Max: {{ct[0][i]}}</p>
                                          {% else %}

                                          <h6><a type="button" class="btn btn-warning" href="{{url_for('replace_nan',type='mean',cols=cols[i])}}">Replace</a></h6>

                                          <p>Mean: {{ct[0][i]}}</p>
                                          {% endif %}
                                          {% endif %}
                                        </td>
                                        <td>
                                          {% if nan_len[i]==0  %}
                                             <h6>-</h6>
                                          {% else %}
                                          {% if cols_type[i] == "object" %}
                                          <h6><a type="button" class="btn btn-success" href="{{url_for('replace_nan',type='min',cols=cols[i])}}">Replace</a></h6>

                                          <p>Min: {{ct[1][i]}}</p>
                                          {% else %}
                                          <h6><a type="button" class="btn btn-success" href="{{url_for('replace_nan',type='median',cols=cols[i])}}">Replace</a></h6>

                                          <p>Median: {{ct[1][i]}}</p>
                                          {% endif %}
                                           {% endif %}
                                        </td>
                                        <td>
                                          {% if nan_len[i]==0  %}
                                          <h6>-</h6>
                                          {% else %}
                                          <h6><a type="button" class="btn btn-info" href="{{url_for('replace_nan',type='mode',cols=cols[i])}}">Replace</a></h6>

                                          {% if cols_type[i] == "object" %}
                                          <p>-</p>
                                          {% else %}
                                          <p>Mode: {{ct[2][i]}}</p>
                                          {% endif %}
                                          {% endif %}
                                        </td>
                                        <td>
                                          <h6> <a type="button" class="btn btn-secondary" href="{{url_for('drop_dummies',type='dummies1',cols=cols[i])}}">Row Drop</a></h6>
                                        </td>
                                        <td>
                                          {% if cols[i] in outlier %}
                                          <h6> <a type="button" class="btn btn-secondary" href="{{url_for('remove_outlier',cols=cols[i])}}">Outlier</a></h6>
                                          {% else %}
                                          -
                                          {% endif %}
                                        </td>



                                      </tr>
                                    {% endfor %}

                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>

                        <div class="row flex-grow">
                          <div class="col-md-6 col-lg-6 grid-margin stretch-card">

                          </div>
                          <div class="col-md-6 col-lg-6 grid-margin stretch-card">

                          </div>
                        </div>
                        </div>
<!--                      <div class="col-lg-4 d-flex flex-column">-->
<!--                        <div class="row flex-grow">-->
<!--                          <div class="col-12 grid-margin stretch-card">-->
<!--                            <div class="card card-rounded">-->
<!--                              <div class="card-body">-->
<!--                                <div class="row">-->
<!--                                  <div class="col-lg-12">-->

<!--                                    <div class="list-wrapper">-->
<!--                                      <ul class="todo-list todo-list-rounded">-->

<!--                                          <div class="form-check w-100">-->
<!--                                            <label class="form-check-label">-->
<!--                                               <h4 class="card-title card-title-dash">Download File</h4>-->
<!--                                              <br>-->
<!--                                               <button type="button" class="btn btn-info btn-icon-text">-->
<!--                                                        Download CSV-->
<!--                                                    <i class="ti-printer btn-icon-append"></i>-->
<!--                                              </button>-->
<!--                                            </label>-->

<!--                                          </div>-->
<!--                                        </li>-->

<!--                                      </ul>-->
<!--                                    </div>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="row flex-grow">-->
<!--                          <div class="col-12 grid-margin stretch-card">-->
<!--                            <div class="card card-rounded">-->
<!--                              <div class="card-body">-->
<!--                                <div class="row">-->
<!--                                  <div class="col-lg-12">-->
<!--                                    <div class="d-flex justify-content-between align-items-center mb-3">-->
<!--                                      <h4 class="card-title card-title-dash">Values Count</h4>-->
<!--                                    </div>-->
<!--                                   <canvas class="my-auto" id="doughnutChart" height="200"></canvas>-->
<!--                                    <div id="doughnut-chart-legend" class="mt-5 text-center"></div>-->
<!--                                  </div>-->
<!--                                </div>-->
<!--                              </div>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                        <div class="row flex-grow">-->
<!--                          <div class="col-12 grid-margin stretch-card">-->

<!--                          </div>-->
<!--                        </div>-->

<!--                      </div>-->
<!--                    </div>-->
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->

  <script src="{{url_for('static',filename='vendors/js/vendor.bundle.base.js')}}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{url_for('static',filename='vendors/chart.js/Chart.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/bootstrap-datepicker/bootstrap-datepicker.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendors/progressbar.js/progressbar.min.js')}}"></script>

  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src="{{url_for('static',filename='js/off-canvas.js')}}"></script>
  <script src="{{url_for('static',filename='js/hoverable-collapse.js')}}"></script>
  <script src="{{url_for('static',filename='js/template.js')}}"></script>
  <script src="{{url_for('static',filename='js/settings.js')}}"></script>
  <script src="{{url_for('static',filename='js/todolist.js')}}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{url_for('static',filename='js/dashboard.js')}}"></script>
  <script src="{{url_for('static',filename='js/Chart.roundedBarCharts.js')}}"></script>
  <!-- End custom js for this page-->
 <script>
      if ($("#doughnutChart").length) {
      var doughnutChartCanvas = $("#doughnutChart").get(0).getContext("2d");
      var doughnutPieData = {
        datasets: [{
          data: [{{nan_[0]}},{{nan_[1]}}],
          backgroundColor: [
            "#1F3BB3",
            "#FDD0C7",
            "#52CDFF",
            "#81DADA"
          ],
          borderColor: [
            "#1F3BB3",
            "#FDD0C7",
            "#52CDFF",
            "#81DADA"
          ],
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
          'Correct Values',
          'Nan Values',

        ]
      };
      var doughnutPieOptions = {
        cutoutPercentage: 50,
        animationEasing: "easeOutBounce",
        animateRotate: true,
        animateScale: false,
        responsive: true,
        maintainAspectRatio: true,
        showScale: true,
        legend: false,
        legendCallback: function (chart) {
          var text = [];
          text.push('<div class="chartjs-legend"><ul class="justify-content-center">');
          for (var i = 0; i < chart.data.datasets[0].data.length; i++) {
            text.push('<li><span style="background-color:' + chart.data.datasets[0].backgroundColor[i] + '">');
            text.push('</span>');
            if (chart.data.labels[i]) {
              text.push(chart.data.labels[i]);
            }
            text.push('</li>');
          }
          text.push('</div></ul>');
          return text.join("");
        },

        layout: {
          padding: {
            left: 0,
            right: 0,
            top: 0,
            bottom: 0
          }
        },
        tooltips: {
          callbacks: {
            title: function(tooltipItem, data) {
              return data['labels'][tooltipItem[0]['index']];
            },
            label: function(tooltipItem, data) {
              return data['datasets'][0]['data'][tooltipItem['index']];
            }
          },

          backgroundColor: '#fff',
          titleFontSize: 14,
          titleFontColor: '#0B0F32',
          bodyFontColor: '#737F8B',
          bodyFontSize: 11,
          displayColors: false
        }
      };
      var doughnutChart = new Chart(doughnutChartCanvas, {
        type: 'doughnut',
        data: doughnutPieData,
        options: doughnutPieOptions
      });
      document.getElementById('doughnut-chart-legend').innerHTML = doughnutChart.generateLegend();
    }


  </script>

</body>

</html>